<div class="conta-detalhes-page">
    <section class="saldo">
        <h4>Saldo: {{'200.50' | currency:'R$ ':'symbol'}}</h4>
    </section>
    <section>
        <app-movimentacoes-tab-group></app-movimentacoes-tab-group>
    </section>
</div>