.conta-detalhes-page {
    width: 100%;
    height: 100%;
    .movimentacoes{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .saldo{
        padding-top: 25px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        h4 {
            margin: 0;
        }
    }
}