<mat-tab-group animationDuration="500ms">
  <mat-tab label="Entradas">
    <app-movimentacao-list [movimentacoes]="entrada"></app-movimentacao-list>
  </mat-tab>
  <mat-tab label="Saídas">
    <app-movimentacao-list [movimentacoes]="atrasado"></app-movimentacao-list>
    <app-movimentacao-list [movimentacoes]="aberto"></app-movimentacao-list>
    <app-movimentacao-list [movimentacoes]="pago"></app-movimentacao-list>
  </mat-tab>
</mat-tab-group>