<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <mat-toolbar color="primary">
      <span>Minha Conta</span>
    </mat-toolbar>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation" [opened]="false" class="menu-lateral">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/app/movimentacoes']">Movimentação</a>
      <a mat-list-item [routerLink]="['/app/teste']">Teste</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="conteudo">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
