mat-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 8rem;
    margin: 5px;
}

.em-aberto {
    box-shadow: 1px 1px 3px #25ff00;
}

.atrasado {
    box-shadow: 1px 1px 3px #eb3d54;
}

.pago {
    box-shadow: 1px 1px 3px #2fb3ff;
}
